/*导航条*/
.navbar{
    line-height:50px;
    font-size: 12px;
    margin-bottom: 0;
    position:relative;
    z-index:100;
}
.navbar .container{
    padding-left: 23px;
}
.container{
    width:100%;
}
.navbar-header a{
    font-weight: bold;
}
.navbar-header span{
    font-size: 16px;
    color:#fff;
    font-weight: bold;
}
.navbar a,.navbar-default .navbar-nav > li > a {
    color: #fff;
}
/*下拉菜单*/
.dropdown-menu{
    margin-top: 0;
    border:0;
    display:none;
    width:100%;
}
.dropdown-menu>li>a{
    color:#fff;
    padding-left: 35px;
}
.dropdown-menu>li:first-child{
    margin-top: 20px;
}
.dropdown-menu>li{
    margin-bottom: 20px;
}
.dropdown-menu>li:last-child{
    margin-bottom: 0;
}
/*面包屑导航*/
.breadcrumb {
    border-radius: 0;
    padding:15px;
    height:50px;
    margin-bottom: 0;
    background-color: transparent;
}
.breadcrumb a{
    font-size: 15px;
    color:#0069ab;
}
.btn{
    padding: 6px 50px;
}
/*自定义导航*/
.indicator.row{
    border-bottom: 1px solid #ccc;
    margin-left: 0;
    margin-right: 0;
}
/*bootstrao面板修改*/
.panel{
    border: 0;
    box-shadow: none;
    -webkit-box-shadow:none;
}