@charset "utf-8";
body {
	background-image: url(../img/bg1_home2.jpg);
	overflow-x: hidden; overflow-y: hidden;
}
body, div, ul, li {
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#loginTop {
	background-color: #003366;
	height: 10px;
	width: 100%;
}

#loginResult {
    top:410px;
	left:550px;
	width: 270px;
	position: absolute;
	color:red;
}

#loginMain {
	background-attachment: fixed;
	background-image: url(../img/bg1_home1.jpg);
	background-repeat: no-repeat;
	height: 840px;
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	background-position: center 0px;
}
#loginMain .ind_logo {
	padding-top: 23px;
	padding-left: 71px;
}
#loginMain .ind_info {
	background-image: url(../img/bg1_info_none.png);
	background-repeat: no-repeat;
	margin-left: 360px;
	height: 500px;
}
#loginMain .ind_info .user_1 {
	padding-top: 75px;
	padding-left: 101px;
	display: block;
	height: 55px;
}
#loginMain .ind_info .user_1 .u1_1 {
	width: 45px;
}

#loginMain .ind_info .user_1 .u1_2 {
	padding-top: 12px;
}
#loginMain .ind_info .user_1 .u1_3 {
	padding-top: 11px;
}


#loginMain .ind_info .user_2 {
	padding-left: 101px;
	display: block;
	height: 85px;
}
#loginMain .ind_info .user_2 .u2_1 {
	width: 43px;
	padding-left: 2px;
}
#loginMain .ind_info .user_2 .u2_2 {
	padding-top: 10px;
}
#loginMain .ind_info .user_2 .u2_3 {
	padding-top: 8px;
}
#loginMain .ind_info  #textfield {
	font-size: 14px;
	color: #666;
	text-decoration: none;
	width: 180px;
	height: 20px;
}
#loginMain .ind_info .user_2 .u2_3 #textfield {
	font-size: 10px;
}


#loginMain .ind_info .user_1 li, #loginMain .ind_info .user_2 li {
	float: left;
	font-size: 14px;
	color: #006699;
	font-weight: bold;
}
#loginMain .ind_info .user_3 {
	display: block;
	padding-left: 105px;
}
#loginMain .ind_info .user_3 li {
	clear: right;
	float: left;
}
#loginMain .ind_info .user_3 a {
	color: #FFF;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
}

#loginMain .ind_info .user_3 .u3_1 {
	height: 28px;
	width: 72px;
	padding-top: 10px;
	padding-top\9: 13px;
	padding-top\0: 13px;
	background-image: url(../img/bg1_user.png);
	background-repeat: no-repeat;
	padding-left: 35px;
	margin-right: 48px;
}
#loginMain .ind_info .user_3 .u3_2 {
	height: 28px;
	width: 72px;
	padding-top: 10px;
	padding-top\9: 13px;
	padding-top\0: 13px;
	background-image: url(../img/bg1_user.png);
	background-repeat: no-repeat;
	padding-left: 35px;
}
#loginMain .ind_info .user_3 li:hover {
	background-image: url(../img/bg1_user.png);
	background-repeat: no-repeat;
	background-position: 0px -38px;
}

#ind_footer {
	background-image: url(../img/bg1_footer.png);
	height: 21px;
	padding-top: 15px;
	width: 100%;
}
#ind_footer img {
	margin-right: auto;
	margin-left: auto;
	display: block;
}

.clear {
	clear: both;
}
