.editui-ul span{
	position: absolute;
	right: 36px;
	top: 28%;
}
.userImg{
	width: 40px;
	height: 40px;
	position: absolute;
	right: 36px;
	top: 1px;
}
.userImg img{
	width: 100%;
	height: 100%;
}
.save-btn{
	width: 94%;
	margin: 20px auto 0;
	background-color: #2AC845;
	border: 1px solid #2AC845;
}