.header{
	-webkit-box-shadow: none;
    box-shadow: none;
}
.content-slider{
	height: 150px;
}
ul,li{
	list-style: none;
}
.content-nav{
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #CCCCCC;
	background-color: #ffffff;
	margin-top: 15px;
	overflow: hidden;
	position: relative;
}
.content-nav p{
	color: #000000;
	height: 40px;
	line-height: 40px;
	padding-left: 20px;
}
.content-nav p:before{
	content:"";
	width: 3px;
	height: 14px;
	background-color: #007AFF;
	position: absolute;
	left: 10px;
	top:13px;
}
.content-ul .iconfont{
	font-size: 2em !important;
}
.mui-content .content-ul{
	padding: 0;
}
.mui-content .content-ul li{
	border: 1px solid #ccc;
	border-top: 0;
	margin-right: 0 !important;
	padding: 10px 0 6px 14px !important;
}