body{margin:0;padding:0;color:#fff; background: url(../images/bg.jpg);}
img{width: 100%;}
.clearfix:after,
.clearfix:before{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.bigword{
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
}
.logo{
	width: 60px;
    float: left;
}
.topbox{
	text-align: right;
}
.topbox .toplink{
	color: #00cfff;
    line-height: 60px;
    text-decoration: none;
    margin-left: 20px;
}
/*.topbox .toplink:hover{
	color: #fff;
}*/
.header{
	text-align: center;
/*    margin: 0px 10%;
*/    margin-top: 20px;
    position: relative;
}
.header .inpsearch {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    border-radius: 15px;
    float: left;
    background-image: url(../images/search.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 98% center;
    padding-right: 50px;
    box-sizing: border-box;
    outline: none;
}
.header .inpsearch1 {
    border: 1px solid #ccc;
    height: 30px;
    width: 100%;
    padding: 0px;
    padding-left: 10px;
    border-radius: 15px;
    float: left;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 98% center;
    padding-right: 50px;
    box-sizing: border-box;
    outline: none;
}
.header .inpsearchbtn {
    position: absolute;
    background-image: url(../images/search.png);
    display: inline-block;
    width: 50px;
    height: 30px;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center center;
    right: 0px;
    cursor: pointer;
}
.header .searchbtn{
    display: inline-block;
    vertical-align: bottom;
    width: 32px;
    height: 32px;
    background: url(../images/search.png);
    background-position: center center;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    margin-left: 10px;
    float: right;
}
 .content{
	padding: 0px 10%;
	margin-top: 20px;
 }
 .content .infomationitem{
 	width: 32%;
    float: left;
    text-align: center;
    margin-top: 30px;
    height: 120px;
    background-color: rgba(0,207,255,1);
 }
 .content .infomationitem:nth-of-type(3n+2){
    width: 32%;
    margin-left: 2%;
    margin-right: 2%; 
    float: left;
    text-align: center;
    margin-top: 30px;
    height: 120px;
    background-color: rgba(0,207,255,1);
 }
 .infomationitem .itemtop{
 	font-size: 22px;
    height: 60px;
    line-height: 80px;
 }
.infomationitem .itembottom{
    height: 60px;
    line-height: 30px;
    font-size: 16px;
 }
 .header .head_left{
	height: 30px;
    line-height: 30px;
    float: left;
 }
 .header .head_right{
	float: right;
 }
 .moditem{
 	display: inline-block;
    width: 24%;
    float: left;
    margin-right: 1%;
    margin-top: 10px;
    padding: 10px;
    box-sizing: border-box;
    background-color: rgba(0,207,255,1);
 }
 .moditem .moditem_top{
    font-size: 20px;
    height: 30px;
    line-height: 22px;
 }
 .moditem .moditem_box{
 	height: 80px;
    line-height: 25px;
    font-size: 16px;
 }
 .scriptbox{
 	margin: 10px 0px;
 	padding: 10px;
 	border:1px solid #00cfff;
 }
 .scriptboxtop{
    font-size: 16px;
 }
 .zhuanru{
	border: 1px solid #00cfff;
    width: 48%;
    float: left;
    padding: 10px;
    height: 90px;
    box-sizing: border-box;
 }
 .fuhao{
	font-size: 20px;
	width: 4%;
	float: left;
	height: 90px;
	line-height: 90px;
	text-align: center;
 }
 .zhuanchu{
	border: 1px solid #00cfff;
    width: 48%;
    float: left;
    padding: 10px;
    height: 90px;
    box-sizing: border-box;
 }
 .qukuaitit{
    text-align: left;
    border-left: 4px solid #00cfff;
    padding-left: 10px;
    font-size: 18px;
    height: 18px;
    line-height: 18px;
 }
 .qukuaitxt{
    text-align: left;
    padding-left: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
 }
.formitem{
    width: 32%;
    float: left;
    margin-right: 1%;
    margin-bottom: 10px;
}
.formtit{
    width: 80px;
    float: left;
    text-align: right;
}
.formbox{
    padding-left: 90px;
}
.searchbtn{
    cursor: pointer;
}
.pagination-page-list option{
    background-color: #00cfff;
}