p#opt{
    width: 96%;
    margin: 12px auto;
    text-align: right;
    height: 34px;
    line-height: 34px;

}
p#opt a{
    background: #0b93d5;
    color: #fff;
    display: inline-block;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    text-indent: 0;
    border-radius: 8px;
}
p#tit{
    width: 96%;
    margin: 12px auto 0;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    background: #4e7db6;
    color: #fff;
    border-radius:8px 8px 0 0;
    text-indent: 0px;
}
table tr th,table tr td{
    text-align: center;
    border:1px solid #ccc;
}
table tbody tr:nth-child(odd){
    background: #f3faff;
}
table tr td a:last-child{
    margin-left: 15px;
}