/*************************************/
/*通用样式*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li {
    margin: 0;
    padding: 0;
}
body,html{
    font-family: "Microsoft Yahei", "sans-serif", "tahoma", "arial";
    background-color: #f4f4f3;
    color: #333;
}
.list-style {
    list-style: none;
}
ul,
ol {
    margin: 0;
}
.right {
    float: right;
}
.left {
    float: left;
}
.clear {
    clear: both;
}
.overflow {
    overflow: hidden;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover,
a:active,
a:visited {
    text-decoration: none;
}
.txt_red {
    color: #f00;
}
.inline_block {
    display: inline-block;
}
.block {
    display: block;
}
.inline {
    display: inline;
}
.radius {
    border-radius: 50%;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.font_wight {
    font-weight: normal;
}
.bold {
    font-weight: bold;
}
.middle:after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
}
label{
    font-weight: normal;
}
.normal_label{
    margin-bottom: 0;
    font-weight: normal;
}
.no_padding{
    padding:0;
}
/*案件通用样式*/
input[type="checkbox"] {
    background: #fff;
    height: 15px;
    width: 15px;
    border: 1px solid #ddd;
    margin-right: 2px;
    margin-top: 0;
    vertical-align: middle;
    color: #333;
}
.page_title{
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}
.query_area{
    padding:20px 0;
    border-bottom: 1px solid #ddd;
}
.query_area>ul>li:not(:last-child){
    padding-bottom:10px;
}
.query_area>ul>li>span{
    padding:0 8px;
}
.operate_btn{
    margin:20px auto;
}
/*按钮组*/
.create_btn,.import_btn,.export_btn{
    display: inline-block;
    width: 80px;
    height: 30px;
    color: #e55250;
    padding-left: 10px;
    text-align: center;
    line-height: 30px;
    border:1px solid #f4b0ae;
    border-radius: 4px;
    text-decoration: none;
}
.create_btn:hover,.create_btn:focus,.import_btn:hover,.import_btn:focus,.export_btn:hover,.export_btn:focus{
    color: #e55250;
    text-decoration: none;
}
.create_btn{
    background:url(../../../img/create.png) no-repeat 10px 6px, -webkit-linear-gradient(top, #fff, #fefafa, #fdf4f4);
    background:url(../../../img/create.png) no-repeat 10px 6px, -moz-linear-gradient(top, #fff, #fefafa, #fdf4f4);
    background:url(../../../img/create.png) no-repeat 10px 6px,-o-linear-gradient(top, #fff, #fefafa, #fdf4f4);
}
.import_btn{
    background:url(../../../img/import.png) no-repeat 10px 6px, -webkit-linear-gradient(top, #fff, #fefafa, #fdf4f4);
    background:url(../../../img/import.png) no-repeat 10px 6px, -moz-linear-gradient(top, #fff, #fefafa, #fdf4f4);
    background:url(../../../img/import.png) no-repeat 10px 6px,-o-linear-gradient(top, #fff, #fefafa, #fdf4f4);
}
.export_btn{
    background:url(../../../img/export.png) no-repeat 10px 6px, -webkit-linear-gradient(top, #fff, #fefafa, #fdf4f4);
    background:url(../../../img/export.png) no-repeat 10px 6px, -moz-linear-gradient(top, #fff, #fefafa, #fdf4f4);
    background:url(../../../img/export.png) no-repeat 10px 6px,-o-linear-gradient(top, #fff, #fefafa, #fdf4f4);
}

.blue_btn,.gray_btn{
    display: inline-block;
    width:100px;
    height:25px;
    line-height: 25px;
    text-align: center;
    text-decoration: none;
}
.blue_btn{
    color: #fff;
    background-color:#6390de;
}
.gray_btn{
    background: -webkit-linear-gradient(left,#fff,#eee);
    background: -moz-linear-gradient(left,#fff,#eee);
    background: -o-linear-gradient(left,#fff,#eee);
    border:1px solid #ddd;
}
.blue_btn:hover,.blue_btn:focus,.gray_btn:hover,.gray_btn:focus{
    text-decoration: none;
}
.blue_btn:hover,.blue_btn:focus{
    color:#fff;
}
.gray_btn:hover,.gray_btn:focus{
    color:#333;
}
input[type='button']{
    background-color: #fff;
}
/*改写dataTables*/
/*修改datatables中的样式*/
.ui-state-disabled:not(#dataTable_first):not(#dataTable_previous):not(#dataTable_last):not(#dataTable_next){
    background-color: #5f8bd8!important;
    color: #fff!important;
}
table.dataTable tr.even:hover,table.dataTable tr.odd:hover{
    background-color: #ddd;
    cursor: pointer;
}
table.dataTable tr.even {
    background-color: #faf9f8;
}
table.dataTable tr.odd {
    background-color: #fff;
}
table.dataTable thead th{
    text-align: center;
    background:-webkit-linear-gradient(top,#fff,#f9f9f9);
    border:1px solid #f1f1f1;
    color:#333;
}
table.dataTable tr td{
    padding:5px;
    border:1px solid #ddd;
}
table.dataTable:after {
    background-color: transparent;
}
table.dataTable~.dataTables_info,table.dataTable~div {
    padding-top: 20px;
    font-weight: normal;
}
.dataTables_info,.dataTables_length{
    float: right;
}
.dataTables_info{
    width:20%;
}
.paging_full_numbers .ui-button{
    margin:5px;
    padding:2px 6px;
}
.paging_full_numbers {
    margin-top: 7px;
}
table.dataTable:after {
     height: 0;
}
.dataTables_wrapper{
    border-bottom: 0;
}