body,
html {
  height: 100%;
  width: 100%;
}
body {
  font-family: "microsoft yahei";
  overflow-y: scroll;
}
.container {
  font-size: 16px;
  color: #8f8f8f;
  width: 95%;
  padding-bottom: 30px;
  padding-top: 30px;
}
.nav_btns {
  margin-bottom: 30px;
  position: relative;
}
.nav_btns li {
  margin-bottom: 10px;
}
.nav_btns li a.btn {
  width: 130px;
  padding: 6px 0;
}
.nav_btns li .absolute {
  left: 5px;
  display: none;
  z-index: 100;
  font-size: 14px;
  padding: 5px 35px;
  width: 500px;
  background-color: #F3F3F3;
  color: #393939;
}
.nav_btns li .absolute ul {
  margin: 20px 0;
}
.nav_btns li .absolute li {
  margin-bottom: 0;
}
.nav_btns li .absolute label {
  color: #949494;
}
.nav_btns li .absolute a {
  color: inherit;
}
.nav_btns li .absolute a:hover {
  color: #337AB7;
}
a:hover,
a:focus {
  text-decoration: none;
}
.btn-info {
  background-color: #0198cf;
  font-size: 16px;
}
.btn-primary {
  background-color: #456fd1;
  font-size: 16px;
}
.half {
  float: left;
  width: 50%;
}
p {
  margin-bottom: 0;
  text-indent: 2em;
  text-align: justify;
  font-size: 12px;
}
.box {
  width: 100%;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 5, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 5, 0.2);
  margin: 10px 0 5px;
  padding: 10px 20px 20px;
}
.box:target {
  display: block;
}
textarea {
  resize: none;
  width: 100%;
  font-size: 12px;
  -webkit-box-shadow: 0 0 5px 1px rgba(0, 0, 5, 0.2);
  box-shadow: 0 0 5px 1px rgba(0, 0, 5, 0.2);
  padding: 5px;
}
.save {
  width: 300px;
  text-align: center;
  font-size: 16px;
  padding: 6px 0;
}
.add {
  display: inline-block;
  padding: 6px 20px;
  background-color: #9AD086;
  color: #fff;
  text-align: center;
  margin: 10px 0;
}
.add:hover,
.add:focus {
  color: #fff;
  text-decoration: none;
  background-color: #7AD066;
}
.table tbody tr td,
.table thead tr th,
.table thead tr td {
  text-align: center;
  vertical-align: middle;
  padding: 5px;
}
select,
input[type="text"],
input[type="number"],
input[type="date"],
input[type="tel"],
input[type="email"] {
  height: 28px;
}
/*默认*/
label.normal {
  font-weight: normal;
  line-height: normal;
  display: inline-block;
  vertical-align: baseline;
  margin: 0;
}
hr {
  border-color: #666;
}
/*基本信息*/
.basicInfo .head_box {
  height: 100px;
  width: 100px;
  margin: 0 auto;
  border-radius: 50%;
  border: 3px solid #ddd;
  overflow: hidden;
}
.basicInfo .head_box .img-responsive {
  display: inline-block;
  width: 100%;
}
.basicInfo li {
  margin-top: 10px;
  overflow: hidden;
}
.basicInfo li span,
.basicInfo li label,
.basicInfo li input {
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.basicInfo li span {
  width: 40%;
  text-align: left;
  padding-left: 10px;
  font-size: 14px;
  margin-top: 5px;
}
.basicInfo li label:first-child {
  text-align: right;
  width: 40%;
}
.basicInfo li input[type='text'],
.basicInfo li input[type='tel'],
.basicInfo li input[type='email'],
.basicInfo li input[type='date'],
.basicInfo li input[type='number'] {
  width: 20%;
  padding: 2px 5px;
  border: 1px solid #D0D0D0;
}
.basicInfo li input.error {
  border-color: #f00;
}
.basicInfo .laydate_box {
  box-sizing: content-box;
}
.basicInfo .laydate_box * {
  box-sizing: content-box;
}
