body{
    font-family: "microsoft yahei";
}
.container{
    margin-top: 15px;
    border-radius: 5px;
    font-size: 12px;
    color:#8f8f8f;
    width:90%;
    padding:10px;
}
/*面包屑导航*/
.indicator{
    border-bottom: 1px solid #b8b8b8;
    height:50px;
}
.bredlogo{
    text-align: right;
}
/*右侧咨询时间*/
.open_time li:first-child{
    background-color:#d9edf7;
}
.email{
    padding:5px;
}
span.glyphicon-time{
    color: #77b377;
    margin-right: 5px;
}
.col-xs-3{
    padding-left: 0;
    padding-right: 0;
}
/*左侧留言版*/
.panel{
    border: none;
}
.consult_detail{
}
/*改写boot*/
.form-control{
    font-size: 12px;
}
.input-group-addon{
    background-color: #5CB85C;
    color:#fff;
}
