/*公共样式*/
html,
body{
  height: 100%;
  width: 100%;
  margin: 0;
}
header,
section:not([class*="alertify"]){
  margin: 0;
  width: 100%;
}
body {
  font-family: "Microsoft Yahei", "sans-serif", "tahoma", "arial";
  color: #4d4d4d;
  font-size: 14px;
  background-color: #fff;
}
header,section:not([class*="alertify"]){
  padding:0 100px;
}
section:not([class*="alertify"]){
  padding-top: 20px;
  padding-bottom: 20px;
}
header{
  height:60px;
  background-image: -webkit-linear-gradient(54deg, #007EE5 0%, #05B3FF 100%, #5533FF 100%);
  background-image: -o-linear-gradient(54deg, #007EE5 0%, #05B3FF 100%, #5533FF 100%);
  border: 1px solid rgba(31,53,127,0.16);
  color:#fff;
}
header>div{
  height: 100%;
}
header img{
  width: 36px;
}
header span{
  display: inline-block;
  vertical-align: middle;
  font-size: 30px;
}
header .user,header .exit{
  font-size: 14px;
  padding-left: 20px;
}
header .exit span{
  font-size: 16px;
  display: inline-block;
  padding-right: 5px;
  vertical-align: text-bottom;
}
header .exit a,header .exit a:hover,header .exit a:focus{
  color: inherit;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.overflow {
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:active,
a:focus {
  text-decoration: none;
  outline: none;
}
.inline_block {
  display: inline-block;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.radius {
  border-radius: 50%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.font_wight {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.no_bold {
  font-weight: normal;
}
.color_inherit,
.color_inherit:hover {
  color: inherit;
}
.middle:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.no_margin {
  margin: 0;
}
.no_padding {
  padding: 0;
}
.no_padding_vertical {
  padding-top: 0;
  padding-bottom: 0;
}
.no_padding_level {
  padding-left: 0;
  padding-right: 0;
}
.pointer {
  cursor: pointer;
}
/*单行溢出省略*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*背景摸态框*/
.bg_modal {
  position: fixed;
  z-index: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: rgba(200, 200, 200, 0.2);
}
.indent2 {
  text-indent: 2em;
  text-align: justify;
}
/*带阴影蓝色按钮框*/
.blue_shadow_button{
  display:inline-block;
  width:330px;
  height:50px;
  line-height: 50px;
  /*background-color: #0088ea;*/
  color:#fff;
  text-align: center;
  background: linear-gradient(left, #04b0fc, #0088ea);
  background: -moz-linear-gradient(left, #04b0fc, #0088ea);
  background: -webkit-linear-gradient(left, #04b0fc, #0088ea);
  background: -o-linear-gradient(left, #04b0fc, #0088ea);
  background: -ms-linear-gradient(left, #04b0fc, #0088ea);
}
.button_gray,.button_blue,.button_blue_bg,.button_red_bg{
  display:inline-block;
  max-width: 100px;
  width: 100%;
  min-width: 50px;
  text-align: center;
  border-radius: 3px;
  padding: 6px 0;
  outline: none;
  background-color: #fff;
}
/*灰色边框按钮*/
.button_gray{
  border:1px solid #adadad;
  color:#adadad;
}
.button_gray:hover,.button_gray:focus{
  color:#adadad;
}
/*蓝色边框按钮*/
.button_blue{
  border:1px solid #0096FF;
  color:#0096FF;
}
.button_blue:hover,.button_blue:focus{
  color:#0096FF;
}
/*蓝色背景按钮*/
.button_blue_bg{
  background: #0096FF;
  color:#fff;
  border:1px solid #0096FF;
}
.button_blue_bg:hover,.button_blue_bg:focus{
  color:#fff;
}
/*红色背景按钮*/
.button_red_bg{
  background: #ff4134;
  color:#fff;
  border:1px solid #ff4134;
}
.button_red_bg:hover,.button_red_bg:focus{
  color:#fff;
}
.txt_color{
  color:#007ee5;
}
.txt_color:hover,.txt_color:focus{
  color:#007ee5;
}
/*子页面的公共头部*/
.header_nav{
  border: 1px solid #EEE;
  background-color: #FFFFFF;
  margin-bottom: 20px;
}
.header_nav li{
  float: left;
  width: 16.66%;
}
.header_nav a{
  display: inline-block;
  padding: 10px 3px;
  color: #333;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.header_nav a.current,.header_nav a:hover,.header_nav a:focus{
  color: #0096FF;
  border-bottom-color: #0096FF;
}
/*子页面的面板样式*/
.panel{
  border-color:#EEE;
  box-shadow: none;
  border-radius:0;
}
.panel .panel-heading{
  border-bottom: 1px solid #EEE;
  padding: 10px 20px;
  overflow: hidden;
  background-color: #fff;
}
.panel-heading .left{
  padding: 2px 0;
}
.panel-heading .left span{
  color: #D5D5D5;
  display: inline-block;
  border-left: 2px solid #D5D5D5;
  padding-left: 10px;
  margin-left: 10px;
  line-height: 20px;
  font-size: 0.9em;
}
.panel-heading .right a{
  background-color: #0096FF;
  color: #fff;
  text-align: center;
  display: inline-block;
  height: 25px;
  line-height: 25px;
  padding:0 10px;
  border-radius: 3px;
  margin: 0 3px;
}
/*改写dateTables*/
table.dataTable{
  width:100%!important;
  border-collapse: collapse;
}
table.dataTable thead th{
  width:100%;
  background-color: #f5f5f5;
  color:#4d4d4d;
  text-align: center;
  height:30px;
  line-height: 30px;
  border: 1px solid #eee;
}
table.dataTable tbody td{
  height:30px;
  border:1px solid #eee;
  vertical-align: middle;
}
.table-striped>tbody>tr:nth-of-type(even) {
  background-color: #fbfbfb;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #fff;
}
#setHeight{
    overflow-y: auto;
    overflow-x: hidden;
}
.ui-widget-header {
  background: -webkit-linear-gradient(54deg, #007EE5 0%, #05B3FF 100%, #5533FF 100%);
  background:-o-linear-gradient(54deg, #007EE5 0%, #05B3FF 100%, #5533FF 100%);
  border-radius: 0;
  opacity:0.6;
}
.ui-widget.ui-widget-content {
  padding:0;
  border:0;
}
.ui-dialog .ui-dialog-titlebar-close {
  position: absolute;
  right: .3em;
  top:50%;
  margin: -10px 0 0 0;
  padding: 1px;
  width: 16px;
  height: 16px;
  background-image: url(../img/ui-icons_217bc0_256x240.png);
  background-repeat: no-repeat;
  background-position: -96px -128px;
  background-color: #fff;
  border: 0;
}
