/*************************************/
/*通用样式*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Microsoft Yahei", "sans-serif", "tahoma", "arial";
  color: #868686;
}
.list-style {
  list-style: none;
}
ul,
ol {
  margin: 0;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.overflow {
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active,
a:visited {
  text-decoration: none;
}
.txt_red {
  color: #f00;
}
.inline_block {
  display: inline-block;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.radius {
  border-radius: 50%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.font_wight {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.middle:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.normal_label{
   margin-bottom: 0;
   font-weight: normal;
}
