<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yibao.hospitalapp">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />



    <application
        android:name=".applaction.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        >
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan|stateHidden"
            android:configChanges="locale"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.RecordActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="locale"></activity>
        <activity
            android:name="com.livedetect.LiveDetectActivity"
            android:configChanges="screenSize|keyboardHidden|orientation|locale"
            android:screenOrientation="portrait" >

        </activity>
        <activity
            android:name="com.yibao.hospitalapp.activity.OpenCvCameraActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape"

            >

        </activity>
        <activity
            android:name="com.yibao.hospitalapp.activity.MsgActivity"
            android:configChanges="locale"

            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name="com.yibao.hospitalapp.activity.MoneyActivity"
            android:configChanges="locale"

            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name="com.yibao.hospitalapp.activity.PayActivity"
            android:configChanges="locale"

            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name="com.yibao.hospitalapp.activity.CheckActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" >

        </activity>
        <activity
            android:name="com.yibao.hospitalapp.activity.BillActivity"
            android:configChanges="locale"
            android:screenOrientation="landscape" >

        </activity>
        <receiver android:name="com.yibao.hospitalapp.util.NetworkConnectChangedReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
        </receiver>

    </application>



</manifest>