<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>isNeedWaterMark</key>
	<false/>
	<key>liveDetectViewColor</key>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>2</string>
			<key>g</key>
			<string>105</string>
			<key>b</key>
			<string>134</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>navViewColor</key>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>0</string>
			<key>g</key>
			<string>133</string>
			<key>b</key>
			<string>170</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>progressNormalColor</key>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>0</string>
			<key>g</key>
			<string>75</string>
			<key>b</key>
			<string>94</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>progressLoopingColor</key>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>255</string>
			<key>g</key>
			<string>165</string>
			<key>b</key>
			<string>0</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>progressGuideColor</key>
	<dict>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>0</string>
			<key>g</key>
			<string>75</string>
			<key>b</key>
			<string>94</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>guideLabel</key>
	<dict>
		<key>text</key>
		<string>请将脸部置于提示框中</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>255</string>
			<key>g</key>
			<string>255</string>
			<key>b</key>
			<string>255</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>lightLabel</key>
	<dict>
		<key>brightText</key>
		<string>光线过亮,请换个环境</string>
		<key>darkText</key>
		<string>光线过暗,请打开灯光</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>255</string>
			<key>g</key>
			<string>255</string>
			<key>b</key>
			<string>255</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>toastLabel</key>
	<dict>
		<key>keepStillText</key>
		<string>请注视屏幕</string>
		<key>nodHeadText</key>
		<string>请缓慢点头</string>
		<key>shakeHeadText</key>
		<string>请缓慢摇头</string>
		<key>openMouthText</key>
		<string>请张下嘴</string>
		<key>blinkEyesText</key>
		<string>请眨下眼</string>
		<key>size</key>
		<string>21</string>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>255</string>
			<key>g</key>
			<string>255</string>
			<key>b</key>
			<string>255</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
	<key>navLabel</key>
	<dict>
		<key>text</key>
		<string>身份检测</string>
		<key>size</key>
		<string>22</string>
		<key>color</key>
		<dict>
			<key>r</key>
			<string>255</string>
			<key>g</key>
			<string>255</string>
			<key>b</key>
			<string>255</string>
			<key>a</key>
			<string>1</string>
		</dict>
	</dict>
</dict>
</plist>
