.ui-dialog .ui-dialog-titlebar {
  padding: 0.2em 1em;
  position: relative;
}
li{ list-style:none;}
a{ text-decoration:none;}
#header{ height:40px; background:#0384e1; border-bottom:1px #002a46 solid;} 
#header .headercon{ width:965px;  margin:0 auto; position: relative;}
#header .headercon img{ padding-top:10px; border:none; float:left;}
#header .nav{ float:right; padding:2px 60px 0px 0px;}
#header .nav li {float: left;line-height: 40px;padding-left: 20px;position: relative;}
#header .nav a {position: relative;color: #ffffff;font-size: 14px;height: 36px;line-height: 36px;display: inline-block;padding: 0 10px;border-radius: 15px;-moz-transition: 0.5s;-o-transition: 0.5s;- webkit-transition: 0.5s;transition: 0.5s;overflow: hidden;}
#header .nav a span {position: relative;display: inline-block;-webkit-transition: -webkit-transform 0.3s;-moz-transition: -moz-transform 0.3s;transition: transform 0.3s;}
#header .nav a span::before {position: absolute;top: 100%;content: attr(data-hover);-webkit-transform: translate3d(0,0,0);-moz-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
#header .nav a:hover span, #header .nav a:focus span { color:#ffffff; -webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);transform: translateY(-100%);}
#header .nav li .navicon{ display:inline-block; width: 11px;height: 9px;background:url(../img/nav_icon_2.png) no-repeat left top; margin-left:5px; }
#header .nav li.hassubnav a{ width:100px; text-align:center; display: inline-block;height: 38px;border-bottom-right-radius:0;border-bottom-left-radius:0; padding:0;}
#header .nav li.hassubnav a.current{color:#ffffff; border-radius:15px; height:36px;}
#header .nav li.hassubnav:hover  a.current{ color:#ffffff; height: 38px;border-bottom-right-radius:0;border-bottom-left-radius:0;}
#header .nav a.current, #header .nav a:hover, #header .nav li.hassubnav:hover a{ color:#ffffff; background-color:#205AA7;}
#header .nav li.hassubnav:hover ul a{ background:none;}
#header .nav ul {position: absolute;top: 38px;top: 38px\0;display: none\0;left: 20px;opacity: 0;background: #205AA7;-webkit-border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;border-radius:  0 0 5px 5px; -webkit-transition: opacity .25s ease .1s;-moz-transition: opacity .25s ease .1s;-o-transition: opacity .25s ease .1s;-ms-transition: opacity .25s ease .1s;transition: opacity .25s ease  .1s;width: 100px;z-index: 999;}
#header .nav ul li{ clear:both;padding-left: 0; background:#205AA7;width: 100px; text-align:center; border-top:1px solid #0384e1;height: 0;overflow: hidden;padding: 0;-webkit-transition: height .25s ease .1s;-moz-transition: height .25s ease .1s;-o-transition: height .25s ease .1s;-ms-transition: height .25s ease .1s;transition: height .25s ease .1s;}
#header .nav ul li a{ color:#ffffff;background:none; border-radius:0; font-size:14px; padding:0;}
#header .nav li:hover > ul{ opacity: 1;*display:block;display:block\0;}
#header .nav li:hover > ul li{height: 36px;overflow: visible;padding: 0;line-height: 36px;}
#header .nav ul li:hover{ background:#0384e1;}
#header .nav ul li a:hover{ background:none;}