body{
    overflow-y: hidden;
    background-color: #fff;
    font-family: "microsoft yahei";
}
#mainDiv{
    margin-left: 183px;
    transition: all 0.3s linear 0s;
}
#mainDiv.full_screen{
    margin-left: 0;
}
body,ul,li,.container{
    padding:0;
    margin: 0;
    color:#8f8f8f;
}
a{
    text-decoration:none;
}
a:hover,
a:focus {
    text-decoration: none;
}
li{
    list-style: none;
}
/*主页中面包屑导航的bootstarp样式修改*/
.breadcrumb {
    border-bottom: 1px solid #b8b8b8;
}
/*主页中面下拉菜单的bootstarp样式修改*/
.open > .dropdown-menu {
    display: block;
}
.dropdown-menu{
    background-color: #0069ab;
    position: inherit;
    margin-top: 0;
    border: 0;
    display: none;
    box-shadow:none;
    float: none;
    min-width: 0;
}
.caret{
    border-top: 4px solid #fff;
}
.up_indicator{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-bottom: 4px dashed;
    border-bottom: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
}
.navbar-default {
    border: none;
    background-color: #46adef;
}
.up_indicator{
    border-bottom: 4px solid #fff;
}
/*左侧导航*/
.aside_nav{
    position:fixed;
    top:0;
    left:0;
    background-color: #0069ab;
    color:#fff;
    padding:60px 15px 20px 20px;
    height:100%;
    width: 183px;
    transition: all 0.3s linear 0s;
}
.aside_nav.left_slip{
    left: -183px;
}
/*导航开关*/
.aside_nav>a.switch{
    display: block;
    position: absolute;
    right:-22px;
    top:50%;
    margin-top: -50px;
    height: 100px;
    width: 22px;
    background-color: #46ADEF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.aside_nav>a.switch s{
    display: block;
    width: 0;
    height:0;
    position: absolute;
    left:50%;
    top:50%;
    margin-top: -10px;
    border: 10px solid transparent;
}
.aside_nav>a.switch s.opened{
    margin-left: -16px;
    border-right-color: #fff;
}
.aside_nav>a.switch s.closed{
    margin-left: -5px;
    border-left-color: #fff;
}
/*导航内容*/
.aside_nav>ul>li>ul>li,.dropdown-menu>li:first-child{
    margin:0
}
.aside_nav>ul>li>ul>li a{
    display: block;
    padding: 5px 0 5px 35px;
    margin-top: 3px;
    margin-bottom: 3px;
    color: #ddd;
    font-size: 0.9em;
}
.aside_nav>ul>li>ul>li a:hover,.aside_nav>ul>li>ul>li a.hover,.aside_nav>ul>li>ul>li a:focus{
    color: #fff;
    text-decoration: none;
    background-color: #025081;
}
.aside_nav>ul>li>a{
    padding: 5px 0;
    display: inline-block;
    vertical-align: middle;
}
.aside_nav i{
    display:inline-block;
    vertical-align: middle;
    width:25px;
    height:25px;
    background:url("../img/icon.png") no-repeat;
    background-size: 25px;
    margin-right: 10px;
}
.aside_nav li.self i{
    background-position:0 5px;
}
.aside_nav li.search i{
    background-position:0 -20px;
}
.aside_nav li.plan i{
    background-position:0 -47px;
}
.aside_nav li.resource i{
    background-position:0 -74px;
}
.aside_nav li.education i{
    background-position:0 -100px;
}
.aside_nav li.archive i{
    background-position:0 -125px;
}
.aside_nav li.question i{
    background-position:0 -150px;
}
.aside_nav li.vote i{
    background-position:0 -175px;
}
.aside_nav li.testInfo i{
    background-position:0 -100px;
}
.aside_nav li.timeInfo i{
background: transparent url(../img/timeInfo.png) no-repeat center center;
background-size: 100% 100%;
}
.aside_nav li.timeInfo i{
    background: transparent url(../img/timeInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.projectInfo i{
    background: transparent url(../img/projectInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.questionnaireInfo i{
    background: transparent url(../img/questionnaireInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.voteInfo i{
    background: transparent url(../img/voteInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.resourceInfo i{
    background: transparent url(../img/resourceInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.companyInfo i{
    background: transparent url(../img/companyInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.planInfo i{
    background: transparent url(../img/planInfo.png) no-repeat center center;
    background-size: 100% 100%;
}
.aside_nav li.assessInfo i{
    background: transparent url(../img/assessInfo.png) no-repeat center center;
    background-size: 120% 120%;
}
.aside_logo{
    width:100%;
    position:absolute;
    left:0;
    bottom:0;
}
.aside_nav>ul>li{
    padding:6px 0;
}
.aside_nav a{
    color:#fff;
    font-size: 14px;
}
.aside_nav li:last-child{
    padding-bottom: 0;
}
/*导航*/
.indicator{
    border-bottom: 1px solid #b8b8b8;
    height:50px;
}
.bredlogo{
    text-align: right;
}
.test{
    text-align: center;
}
.test_pic{
    width:50%;
    text-align: center;
    margin:auto;
}
.test_pic img{
    height:200px;
    margin:20px  auto;
    padding:10px 0;
}
.test_title{
    font-size: 16px;
}
.test_intro{
    text-align: left;
    width:60%;
    margin:30px auto;
}
.test_intro span{
    font-size: 12px;
}

.currentUserInfo{
    font-size:18px;
}

#ClCache {
    /*突发事故*/
    display: none !important;
}
#topModal {
    /*摸态框代替alert*/
}
#topModal .btn{
    padding: 6px 12px;
}
#topModal .modal-footer,
#topModal .modal-body,
#topModal .modal-title {
    text-align: center;
}
#topModal .modal-footer,
#topModal .modal-header {
    border: none;
}
#topModal .modal-dialog {
    margin: -90px 0 0 -150px;
    position: absolute;
    top: 45%;
    left: 50%;
}
#topModal .close {
    position: absolute;
    right: 15px;
    top: 15px;
}
.modal-backdrop.in {
    filter: alpha(opacity=30);
    opacity: .3;
}
.modal-backdrop {
    background-color: #000;
}