/*通用样式*/
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl,
li {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 14px;
}
body {
  font-family: "Microsoft Yahei", "sans-serif", "tahoma", "arial";
  color: #333;
}
.list-style {
  list-style: none;
}
.right {
  float: right;
}
.left {
  float: left;
}
.clear {
  clear: both;
}
.overflow {
  overflow: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover,
a:active,
a:focus,
a:visited {
  text-decoration: none;
}
.txt_red {
  color: #f00;
}
.inline_block {
  display: inline-block;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.radius {
  border-radius: 50%;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.font_wight {
  font-weight: normal;
}
.bold {
  font-weight: bold;
}
.middle:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.normal_label {
  margin-bottom: 0;
  font-weight: normal;
}
.no_bold {
  font-weight: normal;
}
.color_inherit,
.text_inherit,
.a_inherit,
.color_inherit:hover,
.text_inherit:hover,
.a_inherit:hover {
  color: inherit;
}
.text_underline:hover {
  text-decoration: underline;
}
.a_defaule {
  color: #337ab7;
}
.a_defaule:hover {
  color: #337ab7;
  text-decoration: underline;
}
a.normal {
  color: #0000EE;
  text-decoration: underline;
}
.txt_red {
  color: #f00;
}
.no_margin {
  margin: 0;
}
.no_padding {
  padding: 0;
}
.no_padding_vertical {
  padding-top: 0;
  padding-bottom: 0;
}
.no_padding_level {
  padding-left: 0;
  padding-right: 0;
}
.pointer {
  cursor: pointer;
}
/*单行溢出省略*/
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.info_body {
  padding: 20px 10px;
}
.manage_body {
  padding: 20px 0 40px;
}
.laydate_box,
.laydate_box * {
  box-sizing: content-box;
}
